# Supabase Config
NEXT_PUBLIC_SUPABASE_URL=https://kklgfhzrpipsgrtwcwvm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrbGdmaHpycGlwc2dydHdjd3ZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY5NDc3MzUsImV4cCI6MjA4MjUyMzczNX0.nKY1ZEDJdEUjguBL5SGqCy-nbhgweHYNt0zRYiXwmBc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrbGdmaHpycGlwc2dydHdjd3ZtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Njk0NzczNSwiZXhwIjoyMDgyNTIzNzM1fQ.Jif9M5n5s8GKJdvr0LnR2Nw3be9cmIh_itkentF_d-A

# OAuth Config (from Supabase OAuth Apps)
SUPABASE_OAUTH_CLIENT_ID=11da62b5-a86f-4d34-a934-c8a5356de0af

# Cryptography
NEXT_PUBLIC_PUBLIC_KEY=4ace62a9724ac3c6eda72886fa9d8b2be64e4591c01ef001f78882f3921ed714
PRIVATE_KEY=6bff4b56766e38528183da3df169257828b1b7defeb20ebd5693a20a59b3a89f
